.markdown-content{
    // background-color: #000;
    overflow-y: scroll;
    h1,h2,h3,h4,h5,h6{
        padding-bottom: 5px;
    }
    padding-top: 10px;
    line-height: 1.6;
    font-size: 1em;
    height: 600px;
    ul{
        padding-left: 50px;
        li{
            margin-bottom: 5px;
        }
    }
    &::-webkit-scrollbar{
        width: 0.25rem;
    }
    &::-webkit-scrollbar-track{
        background-color: #dcdcdc;
    }
    &::-webkit-scrollbar-thumb{
        background: #2c3437;
    }
}