.markdown-content {
  overflow-y: scroll;
  padding-top: 10px;
  line-height: 1.6;
  height: 600px;
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  padding-bottom: 5px;
}

.markdown-content ul {
  padding-left: 50px;
}

.markdown-content ul li {
  margin-bottom: 5px;
}

.markdown-content::-webkit-scrollbar {
  width: 0.25rem;
}

.markdown-content::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

.markdown-content::-webkit-scrollbar-thumb {
  background: #2c3437;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: none;
  height: 100%;
}

nav {
  width: 18%;
  background-color: #2c3437;
  position: fixed;
  height: 100vh;
  padding: 20px;
}

nav button#toggleMenu {
  background-color: transparent;
  border: none;
  outline: none;
}

nav img {
  opacity: 0.8;
}

nav .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

nav li.active {
  background: #404040;
  border-radius: 3px;
}

nav .navbar {
  margin-top: 20px;
}

nav .navbar li {
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
}

nav .navbar li a {
  text-decoration: none;
  color: #dbdada;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navbar li a .list-item {
  display: flex;
  justify-content: none;
  align-items: center;
}

nav .navbar li a .list-item .list-i {
  margin-left: 8px;
}

nav .navbar li:hover {
  background: #404040;
  border-radius: 3px;
}

nav .tags {
  margin-top: 50px;
}

nav .tags li {
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: none;
  align-items: center;
}

nav .tags li img {
  margin-right: 5px;
}

nav .tags li span {
  text-decoration: none;
  color: #919191;
}

nav .tags li span .tag-name {
  margin-left: 8px;
}

nav .tags li:hover {
  background: #404040;
  border-radius: 3px;
}

.body {
  width: 82%;
  margin-left: 18%;
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.body .hidden-toggle-menu {
  display: none;
}

.body .notes {
  padding-bottom: 20px;
  overflow-y: scroll;
  width: 30%;
  padding: 25px 20px;
}

.body .notes::-webkit-scrollbar {
  width: 0.25rem;
}

.body .notes::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

.body .notes::-webkit-scrollbar-thumb {
  background: #2c3437;
}

.body .notes a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body .notes a img {
  opacity: 0.4;
}

.body .notes .notes-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body .notes .notes-top form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body .notes .notes-top form input {
  border: 1px #dcdcdc solid;
  padding: 5px;
  background-color: transparent;
  border-radius: 3px;
}

.body .notes .notes-top form input:focus {
  outline: none;
}

.body .notes .all-notes {
  margin-top: 20px;
}

.body .notes .all-notes .note {
  color: #808080;
  margin-bottom: 5px;
  padding: 10px 0px;
  display: flex;
  justify-content: none;
  align-items: none;
  border-bottom: 1px #dcdcdc solid;
  padding-bottom: 10px;
}

.body .notes .all-notes .note .note-info {
  padding-left: 20px;
}

.body .notes .all-notes .note .note-info .title {
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
}

.body .notes .all-notes .note .note-info .note-tags {
  padding-top: 5px;
  font-style: italic;
  text-decoration: line-through;
}

.body .notes .all-notes .note .note-info .note-tags span {
  margin-right: 5px;
}

.body .notes .all-notes .note.active {
  background-color: #dcdcdc;
}

.body .editor {
  min-height: 100vh;
  width: 70%;
  padding: 25px 20px;
}

.body .editor .editor-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #dcdcdc solid;
  padding-bottom: 10px;
}

.body .editor .editor-nav .like {
  margin-left: 10px;
}

.body .editor .editor-nav .edit li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

.body .editor .editor-nav .edit li a {
  text-decoration: none;
}

.body textarea {
  height: 100vh;
  padding: 20px 0;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  width: 100%;
}

.body textarea:focus {
  outline: none;
  border: none;
}

.body .CodeMirror {
  height: 600px;
  font-size: 1.2em;
  padding-top: 10px;
}

.body .CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 0.25rem;
}

.body .CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

.body .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: #2c3437;
}

.body .hide-content {
  display: none;
}

.body .show-content {
  display: block;
}

.modal {
  position: absolute;
  top: 200px;
  left: 35%;
  padding: 10px 0;
  background: #2c3437;
  height: 275px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
  z-index: 100;
}

.modal h3 {
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.modal input {
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 3px;
  margin-bottom: 5px;
}

.modal input:focus {
  outline: none;
}

.modal input[type="submit"] {
  margin-top: 10px;
}

.show-modal {
  display: flex;
}

.hide-modal {
  display: none;
}

.message {
  position: absolute;
  z-index: 10;
  background: #8888f7;
  color: white;
  padding: 10px;
  top: 100px;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.toggle-icon {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */